/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: rgb(51, 51, 51);
  color: #333;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Header Styles */
header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1.5);
  animation: slideInDown 1s ease;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: tomato;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background: #333;
    position: absolute;
    align-items: center;
    top: 60px;
    left: 0;
    padding: 20px 0;
  }

  nav ul.active {
    display: flex;
    flex-wrap: wrap;
  }

  .hamburger {
    display: block;
    color: #fff;
  }
}

/* Main Content Styles */
main {
  margin-top: 60px;
  padding: 20px 0;
  background-color: #fff;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: justify;
  margin-bottom: 20px;
  padding: 20px;
  animation: fadeIn 1.5s ease;
}

.content-left {
  flex: 1;
  padding: 20px;
}

.content-left h1 {
  font-size: 36px;
  color: #333;
  animation: slideInLeft 1s ease;
}

.content-left h2 {
  font-size: 24px;
  color: #555;
  animation: slideInLeft 1s ease;
}

.content-left p {
  margin: 20px 0;
  font-size: 16px;
  animation: fadeIn 2s ease;
}

.content-right {
  flex: 1;
  text-align: center;
  animation: slideInRight 1s ease;
  transition: 1s;
}

.content-right:hover {
  transform: scale(1.1);
  z-index: 2;
}

.logo {
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1.5);
}

/* Skills Section */
.skill-container {
  background: #f4f4f4;

  padding: 50px 20px;
}

.skill-container .container {
  text-align: center;
}

.skill-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  animation: slideInUp 1s ease;
}

.skill-container h2 {
  font-size: 18px;
  margin-bottom: 40px;
  animation: fadeIn 1.5s ease;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skills img {
  width: 80px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1.5);
  border-radius: 10px;
  animation: zoomIn 1s ease;
  transition: 1s;
}

.skills img:hover {
  transform: scale(1.2);
  z-index: 2;
}

/* Projects Section */
.projects-container {
  background: #fff;
  padding: 50px 20px;
}

.projects-container .container {
  text-align: center;
}
.container .projects-container h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 150px;
  animation: fadeIn 1.5s ease;
}

.project img {
  flex: 1;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1.5);
  animation: fadeIn 2s ease;
  transition: 1s;
}
.project img:hover {
  transform: scale(1.1);
  z-index: 2;
}

.project-description {
  flex: 1;
  padding: 20px;
  animation: slideInLeft 1s ease;
}

.project-description h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.project-description h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-description p {
  font-size: 16px;
}

/* Achievements Section */
.achievements-container {
  background: #f4f4f4;
  padding: 50px 20px;
}

.achievements-container .container {
  text-align: center;
}

.achievements-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  animation: slideInDown 1s ease;
}

.achievements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.achievements img {
  width: 350px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1.5);
  animation: zoomIn 1s ease;
  transition: 1s;
}
.achievements img:hover {
  transform: scale(1.4);
  z-index: 2;
}
/* Footer Styles */
footer {
  background: #222;
  color: #fff;
  padding: 40px 0;
  text-align: center;
  margin-top: 50px;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h1 {
  font-size: 30; /* Slightly larger font size */
  margin-bottom: 15px; /* Increased margin */
  text-transform: uppercase;
  letter-spacing: 1.5px;
  animation: fadeIn 1.5s ease;
}

footer .container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

footer .container a {
  margin: 0 10px;
  display: inline-block;
  transition: transform 0.3s, opacity 0.3s;
}

footer .container a img {
  width: 40px;
  height: auto;
}

footer h1 {
  font-size: 16px;
  color: #fff;
  max-width: 400px;
  margin-top: 10px;
  text-decoration: none;
  animation: fadeIn 1.5s ease 1s;
}

footer h1::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: tomato;
  margin: 10px auto;
  transition: all 0.5s;
}

footer h1:hover::after {
  width: 100%;
}

footer h2 {
  font-size: 15px;
  margin-bottom: 10px;
  animation: fadeIn 1.5s ease 0.5s;
}

footer h3 {
  font-size: 10px;
  margin-bottom: 10px;
  animation: fadeIn 1.5s ease 0.5s;
}

footer {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  transition: 1s;
}

footer a:hover {
  transform: scale(1.2);
  z-index: 2;
}

.resume {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1a1a1a;
  border-radius: 15px;
  animation: fadeIn 1.5s ease;
}

.resume img {
  width: 750px;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 1s;
}

.resume img:hover {
  transform: scale(1.1);
  z-index: 2;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@media (max-width: 768px) {
  .content-left,
  .content-right {
    flex: 100%;
    text-align: center;
  }

  .skills {
    align-items: center;
  }

  .project {
    flex-direction: column;
  }

  .achievements {
    align-items: center;
    flex-direction: column;
  }

  footer .container {
    flex-direction: column;
  }
  footer h1 {
    font-size: 24px;
  }

  footer h2 {
    font-size: 18px;
  }

  footer .social-links a img {
    width: 30px;
  }
}
